{% extends "base.html" %}

{% load static %}

{% block barra %}
{% if user.is_authenticated %}

<div class="nav-item" style="margin-top: 10px;">
   <div class="container">
       <div class="row">
           <form action="{% url 'Resultados' %}" method="GET">
               <input type="text" name="q" placeholder="Buscar...">
               <button type="submit">Buscar</button>
           </form>
       </div>
   </div>
</div>


<li class="nav-item">
    <a class="nav-link" href="{% url "Inicio" %}">Inicio</a>
 </li>
 <li class="nav-item active">
    <a class="nav-link" href="{% url "About" %}">About</a>
 </li>
 <li class="nav-item dropdown">
   <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       Menú
   </a>
   <div class="dropdown-menu" aria-labelledby="navbarDropdown">
       <a class="dropdown-item" href="{% url "Lista Helados" %}">Helados</a>
       <a class="dropdown-item" href="{% url "Lista Pasteles" %}">Pasteles</a>
       <a class="dropdown-item" href="{% url "Lista Batidos" %}">Batidos</a>
       <a class="dropdown-item" href="{% url "Lista Infantil" %}">Infantil</a>
   </div>
</li>
<li class="nav-item">
   <a class="nav-link" href="{% url "Services" %}">Servicio</a>
</li>
 <li class="nav-item">
    <a class="nav-link" href="{% url "Logout" %}">Cerrar Sesión</a>
 </li>
 <li class="nav-item">
    {% if user.is_authenticated %}
    {% with avatar=user.avatar_set.first %}
        {% if avatar %}
            <a href="{% url "EditarPerfil" %}">
                <img src="{{ avatar.imagen.url }}" alt="Mi Foto de Perfil" style="width: 42px; height: 40px; border-radius: 50%; margin: 3px auto; display: block;" />
            </a>
        {% else %}
            <p><a href="{% url 'Cambiar Avatar' %}"><button>Agrega un Avatar</button></a></p>
        {% endif %}
    {% endwith %}
    {% endif %}
</li>

{% else %}

<div class="nav-item" style="margin-top: 10px;">
   <div class="container">
       <div class="row">
           <form action="{% url 'Resultados' %}" method="GET">
               <input type="text" name="q" placeholder="Buscar...">
               <button type="submit">Buscar</button>
           </form>
       </div>
   </div>
</div>


<li class="nav-item">
    <a class="nav-link" href="{% url "Inicio" %}">Inicio</a>
 </li>
<li class="nav-item">
    <a class="nav-link" href="{% url "Registro" %}">Registrate</a>
 </li>
 <li class="nav-item">
    <a class="nav-link" href="{% url "IniciarSesion" %}">Inicia Sesión</a>
 </li>
 <li class="nav-item active">
    <a class="nav-link" href="{% url "About" %}">About</a>
 </li>
 <li class="nav-item dropdown">
   <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       Menú
   </a>
   <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="{% url "Lista Helados" %}">Helados</a>
      <a class="dropdown-item" href="{% url "Lista Pasteles" %}">Pasteles</a>
      <a class="dropdown-item" href="{% url "Lista Batidos" %}">Batidos</a>
      <a class="dropdown-item" href="{% url "Lista Infantil" %}">Infantil</a>
  </div>
 <li class="nav-item">
    <a class="nav-link" href="{% url "Services" %}">Servicio</a>
 </li>

{% endif %}

{% endblock barra %}

{% block 0 %}

      <!-- about section start -->
      <div class="about_section layout_padding">
        <div class="container">
           <div class="row">
              <div class="col-md-6">
                 <div class="about_taital_main">
                    <div class="about_taital">Sobre Nosotros</div>
                    <p class="about_text">En Gelato Paradiso, cada cucharada es una obra de arte congelada. Nuestro gelato artesanal, preparado con los ingredientes más frescos y cuidadosamente seleccionados, es la culminación de años de pasión y experiencia en la creación de sabores únicos y emocionantes.</p>
                    <p class="about_text">Cada porción es una sinfonía de texturas y gustos, donde la creatividad se encuentra con la tradición italiana. Ven y sumérgete en una experiencia verdaderamente única, donde cada cucharada es una aventura para tus sentidos. En Gelato Paradiso, estamos comprometidos a llevar la excelencia y el arte del gelato a cada cliente. ¡Descubre la magia en cada cucharada y déjate llevar por la dulce melodía de nuestros sabores helados!</p>
                 </div>
              </div>
              <div class="col-md-6">
                 <div class="about_img"><img src="{% static 'images/about-img.jpg' %}"></div>
              </div>
           </div>
        </div>
     </div>
     <!-- about section end -->

{% endblock 0 %}

{% block about %}

      <!-- about section start -->
      <div class="about_section layout_padding">
        <div class="container">
           <div class="row">
              <div class="col-md-6">
                 <div class="about_taital_main">
                    <div class="about_taital">Sobre Mi</div>
                    <li class="about_text">Mi nombre es Matías Córdoba y tengo 18 años.</li>
                    <li class="about_text">Nací el 17 de enero de 2005 en Córdoba, Argentina y vivo ahi.</li>
                    <li class="about_text">Actualmente estudio programación y este es mi primer proyecto.</li>
                    <li class="about_text">Mi mayor pasatiempo son los videojuegos, mi favorito es un juego independiente creado por "Team Cherry" llamado "Hollow Knight".</li>
                    <li class="about_text">Me encantan los deportes, mis favoritos son el fútbol y el voley, llegué a ser capitán del equipo de voley de mi colegio.</li>
                    <li class="about_text">Actualmente no hago deporte pero voy al gimnasio para mantenerme en forma.</li>
                    <li class="about_text">Estudio programación porque desde pequeño me interesó el mundo de las computadoras, teniendo mi primera netbook a los 6 años.</li>
                    <li class="about_text">Llamadas o Whatsapp: 351 530-8390</li>
                    <li class="about_text">Email: Maticba951@gmail.com</li>
                 </div>
              </div>
              <div class="col-md-6">
                 <div class="about_img"><img src="{% static 'images/sobremi.png' %}"></div>
              </div>
           </div>
        </div>
     </div>
     <!-- about section end -->

{% endblock about %}