{% extends "base.html" %}

{% load static %}

{% block barra %}

{% if user.is_authenticated %}

<div class="nav-item" style="margin-top: 10px;">
   <div class="container">
       <div class="row">
           <form action="{% url 'Resultados' %}" method="GET">
               <input type="text" name="q" placeholder="Buscar...">
               <button type="submit">Buscar</button>
           </form>
       </div>
   </div>
</div>


<li class="nav-item">
    <a class="nav-link" href="{% url "Inicio" %}">Inicio</a>
 </li>
 <li class="nav-item">
    <a class="nav-link" href="{% url "About" %}">About</a>
 </li>
 <li class="nav-item dropdown">
   <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       Menú
   </a>
   <div class="dropdown-menu" aria-labelledby="navbarDropdown">
       <a class="dropdown-item" href="{% url "Lista Helados" %}">Helados</a>
       <a class="dropdown-item" href="{% url "Lista Pasteles" %}">Pasteles</a>
       <a class="dropdown-item" href="{% url "Lista Batidos" %}">Batidos</a>
       <a class="dropdown-item" href="{% url "Lista Infantil" %}">Infantil</a>
   </div>
</li>
<li class="nav-item active">
   <a class="nav-link" href="{% url "Services" %}">Servicio</a>
</li>
 <li class="nav-item">
    <a class="nav-link" href="{% url "Logout" %}">Cerrar Sesión</a>
 </li>
 <li class="nav-item">
    {% if user.is_authenticated %}
    {% with avatar=user.avatar_set.first %}
        {% if avatar %}
            <a href="{% url "EditarPerfil" %}">
                <img src="{{ avatar.imagen.url }}" alt="Mi Foto de Perfil" style="width: 42px; height: 40px; border-radius: 50%; margin: 3px auto; display: block;" />
            </a>
        {% else %}
            <p><a href="{% url 'Cambiar Avatar' %}"><button>Agrega un Avatar</button></a></p>
        {% endif %}
    {% endwith %}
    {% endif %}
</li>

{% else %}

<div class="nav-item" style="margin-top: 10px;">
   <div class="container">
       <div class="row">
           <form action="{% url 'Resultados' %}" method="GET">
               <input type="text" name="q" placeholder="Buscar...">
               <button type="submit">Buscar</button>
           </form>
       </div>
   </div>
</div>


<li class="nav-item">
    <a class="nav-link" href="{% url "Inicio" %}">Inicio</a>
 </li>
<li class="nav-item">
    <a class="nav-link" href="{% url "Registro" %}">Registrate</a>
 </li>
 <li class="nav-item">
    <a class="nav-link" href="{% url "IniciarSesion" %}">Inicia Sesión</a>
 </li>
 <li class="nav-item">
    <a class="nav-link" href="{% url "About" %}">About</a>
 </li>
 <li class="nav-item dropdown">
   <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       Menú
   </a>
   <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="{% url "Lista Helados" %}">Helados</a>
      <a class="dropdown-item" href="{% url "Lista Pasteles" %}">Pasteles</a>
      <a class="dropdown-item" href="{% url "Lista Batidos" %}">Batidos</a>
      <a class="dropdown-item" href="{% url "Lista Infantil" %}">Infantil</a>
  </div>
 <li class="nav-item active">
    <a class="nav-link" href="{% url "Services" %}">Servicio</a>
 </li>

{% endif %}

{% endblock barra %}

{% block about %}

<div class="about_section layout_padding">
    <div class="container">
       <div class="row">
          <div class="col-md-6">
             <div class="about_taital_main">
                <div class="about_taital">Servicio</div>

                <p> En Gelato Paradiso, no solo estamos comprometidos a ofrecer los helados y pasteles más deliciosos, sino también a brindarte una experiencia completa que satisfaga todos tus sentidos. Nuestro espacio ha sido diseñado para crear un ambiente acogedor y cómodo en nuestro establecimiento, donde puedes relajarte y disfrutar de momentos especiales con amigos y familiares. Cada rincón de nuestro establecimiento está cuidadosamente diseñado para transmitir nuestro amor por el arte del gelato y la pastelería artesanal.</p>
                <p> Nuestro personal amable y dedicado está aquí para hacer que tu visita en nuestro establecimiento sea memorable. Estamos encantados de ayudarte a elegir entre nuestra amplia variedad de sabores y opciones, y estamos siempre dispuestos a responder tus preguntas y satisfacer tus necesidades.</p>
                <p>Además de nuestra experiencia en el establecimiento, entendemos que a veces deseas disfrutar de nuestros productos en la comodidad de tu hogar. Es por eso que ofrecemos un servicio de envío rápido y confiable, para que puedas tener tus sabores favoritos de Gelato Paradiso justo en tu puerta.</p>
                <p>Te invitamos a unirte a nosotros en Gelato Paradiso, donde la pasión por la calidad, el buen ambiente y la satisfacción de nuestros clientes son nuestra máxima prioridad. Descubre la verdadera magia detrás de nuestros sabores y servicios y haz de cada día un poco más dulce con nosotros. </p>

             </div>
          </div>
          <div class="col-md-6">
             <div class="about_img"><img src="{% static 'images/services.jpg' %}"></div>
          </div>
       </div>
    </div>
 </div>

{% endblock about %}